* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Serif Display", serif;
    background-color: #ecb0c5da;
    color: #333;

}
h1{
    font-weight: 2000;
    color: rgb(64, 13, 22);
    font-size: 4rem;
}

p {
    font-size: 1.2rem;
}


.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4rem;

}

.banner-content{
    object-fit: contain;
}

.banner-image{
    justify-content: center;
    height: 700px;
    border-radius: 2rem;
}

.section {
    padding: 70px 8%;
    text-align: center;
}

.section h2 {
    font-size: 38px;
    margin-bottom: 15px;
}

.section-intro {
    max-width: 600px;
    margin: 0 auto 40px;
    line-height: 1.6;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    width: 30%;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
   box-shadow: 3px 3px 0 rgba(89, 4, 71, 0.348);
   background-color: rgba(160, 158, 255, 0.577);
}

.card h3 {
    color: rgb(84, 10, 29);
    font-size: 21px;
    margin-bottom: 15px;
    font-size: 25px;
}

.card p {
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 20px;
    color: rgb(24, 67, 67);
}

.card a {
    display: inline-block;
    padding: 10px 18px;

    background-color: #123a1198;
    color: white;

    text-decoration: none;
    border-radius: 20px;
}

.card a:hover {
    background-color: #d0639b;
}

.selling-section {
    background-color: #fffd74;
}

.reviews-section {
    background-color: #fffd74;
}




@media (max-width: 768px) {

    .banner h1 {
        font-size: 40px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }
}
